
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col ">
                    <h4>Quick Links</h4>
                    <ul>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Features</a></li>
                    </ul>
                </div>

                <div class="footer-col">
                    <h4>Get Help</h4>
                    <ul>
                        <li><a href="#">Terms & Conditions</a></li>
                        <li><a href="#">Privacy policy</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Security</a></li>
                    </ul>
                </div>

                <div class="footer-col">
                    <h4>Address</h4>
                    <ul>
                        <li><a href="#">Mohrisa Technology</a></li>
                        <li><a href="#">721,7th floor,</a></li>
                        <li><a href="#">EsplanadeOne,</a></li>
                        <li><a href="#">Rasulgarh,</a></li>
                        <li><a href="#"> Bhubaneswar</a></li>
                        <li><a href="#">Odisha, 751010</a></li>
                    </ul>
                </div>

                <div class="footer-col">
                    <h4>Get in Touch</h4>
                    <div class="social-links">
                        <a href="#"><i class="bi bi-facebook"></i></a>
                        <a href="#"><i class=" bi bi-twitter"></i></a>
                        <a href="#"><i class="bi bi-google"></i></a>
                        
                    </div>
                </div>
            </div>
        </div>
     
    </div>
