<div class="container-fluid">
<nav class="navbar navbar-expand-lg " style="margin-left: 200px;">
    <a href="#" class="navbar-brand">
        <img src="../../../assets/LOGO 5.jpg" height="120" width="120">
    </a>
    <div>
        <ul class="nav nav-tabs" style="margin-left: 150px;">
            <li class="nav-item" (click)="home()"class="nav-link"><span class="bi bi-house-fill"></span> HOME</li>
            <li class="nav-item" (click)="about()" class="nav-link"><span class="bi bi-file-person"></span> ABOUT US</li>
            <li class="nav-item" (click)="features()" class="nav-link"><span class="bi bi-arrow-down-square-fill"></span> FEATURE</li>
            <li class="nav-item" (click)="contact()" class="nav-link"><span class="bi bi-telephone-fill"></span> CONTACT US</li> 
           
        </ul>
    </div>
    <div style="margin-left: 150px;">
           <a  (click)="login()" class="btn btn-danger"><span class="bi bi-person-circle"></span> LOGIN </a>
         </div> 
</nav>