<div id="container">
   <div id="box">
       <div class="mt-2">
           <div id="header">
              <app-root></app-root>
           </div>
           
<div class="container-fluid" style="width: 1100px;">
   <div id="main">
   
    <span class=" text-center justify-content" style=" margin-top: 50px; margin-left: 80px;">
       <h1 class="text-primary">Visitor & Community</h1>
       <h2 class="text-primary">Management System</h2>
       <p>World class technology that makes your daily life more convenlent and secure</p>
       <app-register></app-register>
        </span> 
        <span><img src="../../../assets/home.png" height="300" width="400" style="margin-left: 80px; margin-top: 10px;"></span>
        
   
       </div>
   
       <div id="main2" >
   
           <span class=" text-black" style=" margin-top: 50px; margin-left: 50px; ">
            
              <h1 class="text-primary">Welcome To My Kommunity</h1>
              <p>MyKommunity is a technology based new generation living for apartments , </p>
              <p>offices and gated communities, a peaceful living with highly secured security system.</p>
              
               </span> 
               <span><img src="../../../assets/welome.png" height="200" width="400" style="margin-left: 80px; margin-top: 20px;"></span>
               
          
              </div>
              <div>
                 <h1 class="text-center text-primary justify-content">Resident Management</h1>
              <div class="main4">
   
               <span><img src="../../../assets/r1.png" height="250" width="250" style="margin-left: 50px; margin-top: 50px;"></span>
               <span><img src="../../../assets/r2.png" height="250" width="250" style="margin-left: 80px; margin-top: 50px;"></span>
               <span><img src="../../../assets/r3.png" height="250" width="250" style="margin-left: 100px; margin-top: 50px;"></span> 
   
              </div>
              </div>
              <div class="main5 mt-5" >
                 <div style="margin-left: 100px;">
                    <h3 >Visitor Management System</h3>
                    <p>We make your visitor a pleasure and secure entry</p>
                    <button class="text-center">Read more</button>
                 </div>
                 <div style="margin-left: 100px;">
                  <h3>Domestic Staff Management</h3>
                  <p> Validate & Record Entry / Exit Domestic Staff (House helps, Drivers, Cooks etc.) into the Community </p>
                  <button class="text-center">Read more</button>
               </div>
               <div style="margin-left: 100px;">
                  <h3>Maintenance and Utility</h3> 
                    <h3> Bill Payments</h3>
                  <p>All Payment Receivables and Payable through payment gateway .
   
                  </p>
                  <button class="text-center">Read more</button>
               </div>
               </div>
   
               <div class="main6 ">
   
                  <span><img src="../../../assets/r4.png" height="250" width="250" style="margin-left: 50px; margin-top: 50px;"></span>
                  <span><img src="../../../assets/r5.png" height="250" width="250" style="margin-left: 120px; margin-top: 50px;"></span>
                  <span><img src="../../../assets/r6.png" height="250" width="250" style="margin-left: 100px; margin-top: 50px;"></span> 
      
                 </div>
                 
                 <div class="main7 mt-5">
                    <div style="margin-left: 100px;">
                       <h3 >Communication managements</h3>
                       <p>Push Notification on all communication. Intercom management will be available</p>
                       <button class="text-center">Read more</button>
                    </div>
                    <div style="margin-left: 150px;">
                     <h3>Safety Management</h3>
                     <p>Your society can sleep peacefully at night with our fool proof guard patrol tracking system</p>
                     <button class="text-center">Read more</button>
                  </div>
                  <div style="margin-left: 200px;">
                     <h3>Complaint Management</h3>
                     <p>Track and resolve all residents and apartment issues.Assign owners for issues and escalations for closure and get faster resolutions.
      
                     </p>
                     <button class="text-center">Read more</button>
                  </div>
               
                  </div>
                  <div>
                     <app-body></app-body>
                  </div>
   
              <div class="main3">
                 <div class="box text-white">
                    <div class="ms-3">
                 <h1 class="text-white ms-3 mt-3">Get In Touch</h1>
                 <h4 class="ms-3">Ready to make life easier?</h4>
   
                 <h1 class="mt-5">Have questions?</h1>
                 <p>Have questions about payments or price plans? We have answers!</p>
                     </div>
                 <div class="mt-5">  
                 <app-form></app-form>
                   </div>
               </div>
              </div>
         
              <div>
                 
                 <app-footer></app-footer>
              </div>
             
       </div>
           
      </div>
       
   </div>
   </div>