<div class="container-fluid ">
    <div class="page_box p-3 mt-2" style="color: aliceblue;">Emergency Dial</div>
    <div class="page_content shadow p-3 position-relative">
        <div class="page_content-data position-absolute">
            </div>
            <button mat-raised-button class="btn btn-lg m-1 p-2" style="color: rgb(84, 81, 81);" (click)="back()"><mat-icon>fast_rewind</mat-icon> Go Back</button>          
            <button mat-raised-button class="btn btn-lg btn-primary m-1 p-2" (click)="open(content)"><mat-icon>add_circle_outline</mat-icon> Add Emergency Dial</button>
                        <table class="table">
                <thead>
                    <tr>
         <th scope="col">SI No.</th>
         <th scope="col">Emergency Title</th>
         <th scope="col">Contact Number</th>
         <th scope="col">Edit</th>
        
         
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor = "let us of readData |
        paginate: { 
           itemsPerPage: 10, 
           currentPage:page,
          totalItems:totalLength
                         }">
          <th scope="row">{{us.id}}</th>
         <td>{{us.title}}</td>
         <td>{{us.contact}}</td>
         <td>
            <mat-icon color="primary" (click)="open(content)" (click)="OnEdit(us,form)" >edit</mat-icon>
            &nbsp;
            <a><mat-icon color="warn" (click)="deleteID(us.id)" >delete</mat-icon></a>
            </td>
      
       </tr>
                </tbody>
            </table>
            <pagination-controls class="text-center" (pageChange)="page = $event"></pagination-controls>
            <div fxLayoutAlign="center center" fxFlexFill>

                <ng-template class="modal" #content let-modal style="background-color: rgba(196, 200, 167, 0.5);">
                  
                  <div class="modal-header" style="padding: 0px;">
                    <mat-toolbar class="btn btn-primary">
                    <h2 class="modal-title" id="modal-basic-title">Add Emergency Dial</h2>
                    <button  type="button" class=" btn btn-close " aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
                  </mat-toolbar>
                  </div>
                  <div class="modal-body" style="background-color: rgba(47, 141, 165, 0.5);" >
                    <mat-card fxFlex="100" >
                    
                  
                      <form fxLayoutAlign="stretch" fxLayout="column" [formGroup]="form" >
                        
                        <mat-form-field appearance="standard"  class="full-width">

                          <mat-label>Title</mat-label>
                          <input matInput placeholder="Enter title" formControlName="title" #nameInput>
                          <mat-error>Title is required</mat-error>
                          
                      </mat-form-field>
                       
                      <mat-form-field appearance="standard"  class="full-width">

                        <mat-label>Contact</mat-label>
                        <span matPrefix>+91</span><input matInput placeholder="Enter Contact Number" formControlName="contact" #nameInput>
                        <mat-error>Contact is required</mat-error>
                        
                    </mat-form-field>   
                    
                                         
                  </form>
                </mat-card>
                  </div>
                
                  <div class="modal-footer">
                    <button *ngIf="!getparamid" (click)="saveDetails(form)"  (click)="modal.close('Save click')"  class=" btn-group btn btn-primary " [disabled]="!form.valid">create</button>
                <button *ngIf="getparamid" (click)="DialUpdate()"  (click)="modal.close('Save click')"  class="btn-group btn btn-primary " >Update</button>
                    <button type="submit" class="btn btn-danger"  (click)="modal.close('Save click')">Cancel</button>
                  </div>
                  
                </ng-template>
                
                </div> 
        
            </div>
            </div>